.box {
  width: 4rem;
  height: 4rem;
  border-radius: 0.2rem;
  --shadow-color: 0deg 0% 63%;
  box-shadow: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.5),
    1.2px 1.7px 2px -0.5px hsl(var(--shadow-color) / 0.46),
    2.4px 3.4px 3.9px -1.1px hsl(var(--shadow-color) / 0.42),
    4.5px 6.4px 7.3px -1.6px hsl(var(--shadow-color) / 0.38),
    8px 11.5px 13.1px -2.1px hsl(var(--shadow-color) / 0.34),
    13.6px 19.6px 22.4px -2.7px hsl(var(--shadow-color) / 0.29),
    21.9px 31.4px 35.9px -3.2px hsl(var(--shadow-color) / 0.25),
    33.4px 47.9px 54.7px -3.7px hsl(var(--shadow-color) / 0.21);
}
